* {
    margin: 0;
    padding: 0;
}

body {
    background: url(Background.png);
    background-size: 150%;
}

/* body.center-form {
    min-height: 100vh;
}

div.center-form {
    position: relative;
    min-height: 100vh;
}

div.center-form>form {
    position: absolute;
    top: 40%;
    left: 53%;
    transform: translateY(-50%) translateX(-50%);
} */

input {
    color: white;
    background-color: transparent;
    border: none;
    width: 250px;
    border-bottom: 1px solid white;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border-bottom: 2px solid white;
}

input::placeholder {
    color: white;
}

header {
    padding: 15%;
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

a {
    margin-right: 6%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 17px;
    line-height: 40px;
    color: #FFFFFF;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid blueviolet;

}



.container {
    width: 70%;
    margin: 15px auto;
}

/* .body_home {
    text-align: center;
} */

h2 {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 30px;
}